@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fc-button {
    background-color: #15385f !important;
    color: white !important;
}

.fc-prev-button,
.fc-next-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.fc-prev-button span,
.fc-next-button span {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-title {
    /*
    background-color: #15385f;
    color: white;
     */
}
